

.line {
	display: block;	
}

/* new clearfix 
	@see: http://perishablepress.com/press/2009/12/06/new-clearfix-hack/
*/
.clearfix:after, .line:after, .m-item:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix, * html .line , * html .m-item{ zoom: 1; } /* IE6 */
*:first-child+html .clearfix, *:first-child+html .line, *:first-child+html .m-item { zoom: 1; } /* IE7 */


/* Simple grid system from OOCSS
	@see: https://github.com/stubbornella/oocss/blob/master/core/grid/grids.css
*/

.ltr .unit{float:left;}
.rtl .unit{ float: right;}

.ltr .inv-unit { float: right; }
.rtl .inv-unit{ float: left;}
.size1of1{float:none;}
.size1of2{width:50%;}
.size1of3{width:33.33333%;}
.size2of3{width:66.66666%;}
.size1of4{width:25%;}
.size3of4{width:75%;}
.size1of5{width:20%;}
.size2of5{width:40%;}
.size3of5{width:60%;}
.size4of5{width:80%;}
.size1of6{width:16.66666%;}
.size5of6{width:83.33333%;}

ul.h-list, .h-list ul {
	padding: 0;
	margin: 0;
	list-style-type: none;		
}
.h-list li {
	padding: 0;
}

.ltr .h-list li {
	float: left;
}

.rtl .h-list li {
	float: right;
}

.footer-holder ul, .sidebar-holder ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.m-item {
	margin-bottom: 1em;
}

.ltr .m-item-media {
	float: left;
	margin-right: 1em;
}

.rtl .m-item-media {
	float: right;
	margin-left: 1em;
}

.ltr .m-item-text {
	display: table-cell;
}

.rtl .m-item-text {
	display: table-cell;	
}

.ltr .invert-h-list li{
	float: right;
	
}

.rtl .invert-h-list li{
	float: left;
}

/* main site layout */

/* master page width */
.full-width {
	width: 960px;
	position: relative;
	margin: 0 auto;
}

.maincol-holder{
	width: 620px;
}

.ltr .maincol-holder{
	float: left;	
}

.rtl .maincol-holder{
	float: right;
}

.ltr .sidebar-holder{
	float: right;	
}

.rtl .sidebar-holder{
	float: left;
}

