body {
	margin: 0;
	padding: 0
}

#debugger {
	position: absolute;
	background-color: #ff0;
	padding: 20px
}

/**************************************************
 * Footer
 **************************************************/
.footer-holder.first {
	background-color: #F5F7F7
}

.footer-holder.second {
	background: #005200
}

.footer-holder.last {
	background-color: #6C0
}

/**************************************************
 * Header
 **************************************************/
.header-holder.first {
	background-color: #6C0
}

.header-holder.last {
	background-color: #53AD01
}

.logo,.select-website {
	padding-top: 18px
}

.logo a {
	display: block;
	width: 153px;
	height: 24px;
	background: transparent url(../images/logo.png) 0 0 no-repeat;
	text-decoration: none;
	position: relative
}

.logo a span {
	position: absolute;
	left: -9999em
}

.screenreader {
	position: absolute;
	left: -9999em
}

.top-actions {
}

.ltr .top-actions {
	float: right
}

.rtl .top-actions {
	float: left
}

/**************************************************
 * Dropdown Navigation
 **************************************************/
.dropdown-nav {
	width: 650px;
	position: relative;
	font-size: 90%
}

/* Text direction VARS */
.ltr .dropdown-nav {
	float: left
}

.rtl .dropdown-nav {
	float: right
}

.ltr .dropdown-nav .level-1 {
	float: left
}

.rtl .dropdown-nav .level-1 {
	float: right
}

/* base hover function */
.dropdown-nav .level-1,.dropdown-nav .level-2,.dropdown-nav .level-3 {
	position: relative;
	display: block;
	float: none
}

.dropdown-nav .dropdown-level-2,.dropdown-nav .dropdown-level-3 {
	display: none;
	position: absolute;
	z-index: 99999;
	margin-left: 5px;
	padding: 0;
	background-color: #FFF;
	border: 1px solid #5EB60C;
	width: 310px
}

.dropdown-nav .level-1:hover .dropdown-level-2,.dropdown-nav .level-2:hover .dropdown-level-3 {
	display: block
}

.dropdown-nav .dropdown-level-3 {
	top: 0;
	margin-left: 0
}

/* Dropdown direction - depends on txt direction */
.ltr .dropdown-nav .dropdown-level-3 {
	left: 100%
}

.rtl .dropdown-nav .dropdown-level-3 {
	right: 100%
}

.rtl .dropdown-level-2 {
	right: 0
}

/* Anchor styles */
.dropdown-nav a {
	text-decoration: none;
	display: block;
	color: #FFF
}

.dropdown-nav .level-1 a {
	line-height: 20px;
	padding: 6px 10px 5px;
	text-decoration: none;
	font-weight: 700;
	display: block
}

.dropdown-nav .level-2 a {
	font-weight: 400;
	color: #000
}

/* hover effects */
.dropdown-nav .level-1:hover {
	background-color: #6c0;
	border: 2px solid #4EA600;
	border-width: 0 3px;
	margin: 0 -3px
}

.dropdown-nav .level-2:hover {
	background-color: #5EB60C
}

.dropdown-nav .level-3:hover {
	background-color: #5EB60C
}

.dropdown-nav .level-2 a:hover {
	color: #FFF
}

.dropdown-level-3 li:first-child {
	background-color: #e3e9f8
}

/**************************************************
 * OpenSpace
 **************************************************/
.openspace-holder {
	background: #4D535F
}

/**************************************************
 * Main
 **************************************************/
.maincol-inner {
	padding: 5px 15px 10px 5px;
	border-right: 3px solid #EEEEEE;
}
.ltr .maincol-inner {
	border-right: 3px solid #EEEEEE;
}




/**************************************************
 * Sidebar
 **************************************************/
.sidebar-inner {
	padding: 5px 0 10px;
}	
.sidebar-box {
	padding-left: 20px;
	
}

.sidebar-holder{
	width: 320px;
}

/**************************************************
 * Widgets!
 **************************************************/
 
.widget-title {

}

.widget {
	margin-bottom: 1em;
}
.widget a {
	text-decoration: none;
}

/* Lastest updates widget */

.latest-updates .tabs {
	border-bottom:4px solid #BACCD9;	
}

.latest-updates .tabs li {

}

.latest-updates .tabs a {
	color:#003300;
	font-weight:bold;
	padding:8px 20px;
	background:#EDF3FF;
	display: block;
	margin-right:3px;
}

.latest-updates .by-category {
	background-color: #F8FAFF;
	padding:5px;
	margin-bottom: 1em;
}

/* Teaser item display! */

.latest-updates .post-meta { 
	color: #777777 	
}

.latest-updates .post-meta .pub-date {
  border-left:1px solid #CCC;
  padding-left:7px;
  margin-left:5px;
}

.latest-updates .post {
 padding-bottom: 1em;
 margin-bottom: 3em;
 border-bottom: 3px dotted #e3e9f8;
 
}

.latest-updates .post-title {
	margin-top: 0;
}

/* Signup widget */
.form {
	position: relative;
}

.form legend {
	position: absolute;
	left: -999em;
}

.form fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}
.form label{
	color: #777777
}
.widget.form input[type="text"]{
	width: 100%;
}

/**************************************************
 * Forms
 **************************************************/
.form .input.text input {
  border:1px solid #559F0C;
  padding:3px;
}
.form .input.text input:focus {
  border:1px solid #66CC00;
}
.form .input.text {
  padding:2px;
}
.form .help {
  display:none;
}
.form label {
  padding:5px 5px 5px 0;
  margin-right:3px;
  color:#777;
}
.form label span.required {
  color:#FF4A06;
  font-weight:bold;
  padding-left:2px;
}
.form .input.submit.button input {
  background:#FF6B08;
  color:#FFF;
  border:0;
  font-weight:bold;
  padding:5px 10px;
  margin:5px 0;
  font-size:1em;
}
.content .form .input.submit input:hover {
  background:#FF7708;
  cursor: pointer;
}
/**************************************************
 * Skins!
 **************************************************/
.paperbox {
	background:#FBFBFB;
	border:1px solid #E7E7E7;
	padding:10px 15px 15px 15px;
}
 