/* Full width elements */

body {
	margin: 0;
	padding: 0;
}

.fw {
	width: 100%;
}

.container {
	width: 960px;
	margin: 0 auto;
}

.ltr {
}

.rtl {
}

/*  - - - - - - - - - - - - - - - - -
site blocks
- - - - - - - - - - - - - - - - - - -

Generic horizonal list.
Provides float and clearfix.
Floats in current text direction.	

* * * * * * * * * * * * * * * * * * */



/*  - - - - - - - - - - - - - - - - -
Header
- - - - - - - - - - - - - - - - - - - */

#site_header {
}

.site_header_top {
	background-color: #74cb00;
	padding-top: 10px;
}

.site_nav {
	background-color: #62af00;
}

.site_identity {
}

.site_title {
	
}

#big_open_space {
	background-color: rgba(black, 0.7);
	height: 480px;
}

.site_quicklinks {
	
}
.site_search {
	clear: both;
}


/*  - - - - - - - - - - - - - - - - -
Branding
- - - - - - - - - - - - - - - - - - - */

.gp_logo_large {
	@extend .img_rep;
	background: transparent url("../images/sprites/gp_logo_sprite.png") 0 0 no-repeat;
	width: 153px;
	height: 28px;
}

.gp_logo_large_green {
	@extend .img_rep;
	background: transparent url("../images/sprites/gp_logo_sprite.png") 0 -28px no-repeat;
	width: 153px;
	height: 28px;
}

.gp_logo_medium {
	@extend .img_rep;
	background: transparent url("../images/sprites/gp_logo_sprite.png") 0 -56px no-repeat;
	width: 120px;
	height: 23px;
}

.gp_logo_medium_green {
	@extend .img_rep;
	background: transparent url("../images/sprites/gp_logo_sprite.png") 0 -79px no-repeat;
	width: 120px;
	height: 23px;
}

.gp_logo_small {
	@extend .img_rep;
	display: inline-block;
	background: transparent url("../images/sprites/gp_logo_sprite.png") 0 -102px no-repeat;
	width: 90px;
	height: 16px;
}

.gp_logo_small_green {
	@extend .img_rep;
	display: inline-block;
	background: transparent url("../images/sprites/gp_logo_sprite.png") 0 -121px no-repeat;
	width: 90px;
	height: 16px;
}

/*  - - - - - - - - - - - - - - - - -
Main
- - - - - - - - - - - - - - - - - - - */


#site_main {
}

.content {
	padding-top: 10px;
}

.breadcrumb_trail {
	padding: 10px 0;
}

.sidebar {
	background-color: rgba(blue, 0.3);
	width: 300px;
	min-height: 300px;
}



/*  - - - - - - - - - - - - - - - - -
Footer
- - - - - - - - - - - - - - - - - - - */

#site_footer {
margin-top: 150px;

 a { text-decoration: none; }
}

.footer_actions {
	background-color: #f5f7f7;
}
.footer_actions_inner {

}

.footer_large {
	background-color: #005300;
	
	dt {
		color: #66CC00;
		font-size: 1.2em;
	}
	
	a {
		color: #f3f3f0;
	}
}

.footer_large_inner {
	padding: 20px 0;
}

.footer_small {
	background-color: #66CC00;
}

.footer_small_inner {
	color: #fff;
	a {
		color: #fff;
		text-decoration: none;
	}
}

.content {
	width: 590px;
}


