/*1297736981,169775558*/

.fbPhotoTheaterError{background:#000 url(http://static.ak.fbcdn.net/rsrc.php/zw/r/nCItFQafRu8.png) no-repeat left top;color:#999;left:25%;padding-left:40px;position:absolute;text-align:left;top:45%;width:50%}
.fbPhotoTheaterError .stageErrorTitle{font-size:14px;font-weight:bold;padding-bottom:12px}

#bootloader_SYA0z { height: 42px; }