/*1297738418,176820666*/

.event_profile .event_subheader{margin-top:3px}
.event_profile .event_upload_image{width:179px}
.event_profile .event_nowrap{white-space:nowrap}
.event_profile .event_info_section{border-top:2px solid #bbb}
.event_profile .event_fullbleed{width:100%}
.event_profile .event_guestlist .uiHeaderNav{margin-left:0}
.event_profile .event_guestlist .guest_name{height:32px;vertical-align:middle}
.event_profile .event_subheader{line-height:normal}
.event_profile .text_exposed_link{display:block;font-size:11px}
.event_profile .text_exposed_link a{background:url(http://b.static.ak.fbcdn.net/rsrc.php/zY/r/lROEWMwAjRs.gif) no-repeat right;padding-right:11px}
.event_profile #feedwall_with_composer{padding-top:2px}
.event_profile .minifeedwall{padding-top:6px}
.event_profile .minifeedwall .empty_wall .status{background:none;border:none;text-align:center;margin:12px 0 0}
.event_profile .empty_wall h2{font-weight:normal;color:#808080}
.bulkTaggerTypeahead{width:210px}
.bulk_tagger_body .bulkTagIcon{margin-top:6px;margin-right:7px}
.bulk_tagger_body .bulkTagStatus{display:inline-block;padding-top:4px}
.bulkTagSaving{display:none}
.tagSaving .bulkTagSaving{display:inline-block;margin-top:2px}
.bulk_tagger_loading{background-image:url(http://static.ak.fbcdn.net/rsrc.php/zk/r/LOOn0JtHNzb.gif);background-repeat:no-repeat;background-position:center center;height:21px}
.fbPhotoFeedbackForm .uiUfi{width:430px}
.fbPhotosGrid td{padding:0 10px 8px 0;width:171px}
.fbPhotosGridTight td{padding-right:8px;width:150px}
.fbPhotosGrid .photoDetails{overflow:hidden;padding-top:2px;width:166px;word-wrap:break-word}
.fbPhotosGridTight .photoDetails{width:154px}
.fbPhotosGrid .lastChild{padding-right:0}
.fbPhotosGridHeader{margin:0 0 8px}
.uiHeader + .fbPhotosGridHeader{margin-top:0}
.fbPhotoInfoLabel{margin-bottom:3px}
.fbPhotosMetaTable{width:100%}
.fbPhotosMetaTable .infoCell{width:264px}
.fbPhotosMetaTable .ufiCell{overflow:hidden}
.fbPhotosSideColumn{padding-top:57px}
.fbPhotosSideColumnShort{padding-top:44px}
.fbPhotosSideColumn #sidebar_ads{padding-top:0}
a.uiMediaThumbTagging{cursor:default}
a.uiMediaThumbTagging i,a.uiMediaThumbTagging .taggerOverlay{cursor:crosshair}
a.uiMediaThumbTagging .taggerOverlayDisabled{cursor:default}
a.uiMediaThumbTagging:hover,a.uiMediaThumbTagging:active,a.uiMediaThumbTagging:focus{border-color:#ccc;text-decoration:none}
.tagWrapper{position:relative;overflow:hidden}
a.uiMediaThumbTagging .taggerOverlay .lockBar{background-color:#222;color:#fff;left:10px;padding-left:21px;position:absolute;top:86px;opacity:.9}
a.uiMediaThumbTagging .taggerOverlay .lockIcon{background-image:url(http://static.ak.fbcdn.net/rsrc.php/z7/r/LIMS6JdvvOD.png);background-repeat:no-repeat;display:inline-block;height:15px;left:6px;position:absolute;top:5px;width:15px}
a.uiMediaThumbTagging .taggerOverlay .blackwash{background:#000;height:100%;left:0;opacity:.7;position:absolute;top:0;width:100%}
a.uiMediaThumbTagging .taggerOverlay .highlightBox{border:2px solid #fff;opacity:.3;position:absolute}
.uiGrid{border:0;border-collapse:collapse;border-spacing:0}
.uiGridCalc{width:100%}
.uiGrid .vTop{vertical-align:top}
.uiGrid .vMid{vertical-align:middle}
.uiGrid .vBot{vertical-align:bottom}
.uiGrid .hLeft{text-align:left}
.uiGrid .hCent{text-align:center}
.uiGrid .hRght{text-align:right}
.uiCollapsedFacepile .showAll{width:100%}
.uiCollapsedFacepile .showAllLink{border-color:#7792ba;border-width:1px 0 0;padding:3px;vertical-align:middle}
.uiFacepileSmall .showAllLink{line-height:18px;margin:2px 2px 0 0}
.uiFacepileMedium .showAllLink{line-height:24px;margin:1px 1px 0 0}
.uiFacepileLarge .showAllLink{line-height:44px;margin:5px 5px 0 0}

#bootloader_Rs5BW { height: 42px; }